# Load dataset from local machine

In [4]:
import pandas as pd
import re
from google.colab import files
uploaded = files.upload()# select file from local machine to load

Saving Royal_tweetdf.csv to Royal_tweetdf.csv

# Read dataset as pandas dataframe

In [5]:
filename="Royal_tweetdf.csv"
df = pd.read_csv(filename)
df.head()

              tweet_id     tweet_created_at  ... Search_keyword              Date
0  1361644136101724161  2021-02-16 11:50:34  ...          Royal  2021-02-16 11:52
1  1361644113075052553  2021-02-16 11:50:29  ...          Royal  2021-02-16 11:52
2  1361644081345142790  2021-02-16 11:50:21  ...          Royal  2021-02-16 11:52
3  1361644049598451714  2021-02-16 11:50:14  ...          Royal  2021-02-16 11:52
4  1361644041847386116  2021-02-16 11:50:12  ...          Royal  2021-02-16 11:52

[5 rows x 7 columns]

In [7]:
df['tweet_text']=df['tweet_raw']

# 1. Remove Latin-1, ASCII & Hex characters

In [8]:

def clear_latin1_hex_chars(text):
  text=re.sub(r'(\\x(.){2})', '',text)
  return text

df['tweet_text']=df['tweet_text'].apply(clear_latin1_hex_chars)
df.head()

              tweet_id  ...                                         tweet_text
0  1361644136101724161  ...  b'@thejbird904 Totally random luchadore battle...
1  1361644113075052553  ...  b"#Otd 1890: Death #Dublin's Sir Robert Kane, ...
2  1361644081345142790  ...  b"@FENNERGY Cas your ears aren't even /that/ b...
3  1361644049598451714  ...  b'No post in over a week due to Royal Mail sta...
4  1361644041847386116  ...  b"Prince Harry sparks 'serious' constitutional...

[5 rows x 8 columns]

# 2. Remove HTML tags

In [9]:
import html.parser
import bs4
def htmlparse(dataframe):
  dataframe['tweet_text']=dataframe['tweet_text'].astype(str)
  df=dataframe['tweet_text'].apply(lambda x: bs4.BeautifulSoup(x, 'lxml').get_text())
  df=df.drop_duplicates()
  return df

df['tweet_text']=htmlparse(df)
df.head()

              tweet_id  ...                                         tweet_text
0  1361644136101724161  ...  b'@thejbird904 Totally random luchadore battle...
1  1361644113075052553  ...  b"#Otd 1890: Death #Dublin's Sir Robert Kane, ...
2  1361644081345142790  ...  b"@FENNERGY Cas your ears aren't even /that/ b...
3  1361644049598451714  ...  b'No post in over a week due to Royal Mail sta...
4  1361644041847386116  ...  b"Prince Harry sparks 'serious' constitutional...

[5 rows x 8 columns]

# 3.Extract mentions, urls and hashtags

In [10]:
URLPATTERN = r'(https?://\S+)'
def get_extractions(df):
  df['tweet_text']=df['tweet_text'].astype(str)
  df['mentions'] = df['tweet_text'].str.findall(r'(?<=@)\w+').apply(','.join)
  df['hashtags']=df['tweet_text'].str.findall(r"#(\w+)").apply(','.join)
  df['URLs'] = df.tweet_text.apply(lambda x: re.findall(URLPATTERN, x))
  df['email_address']=df['tweet_text'].str.findall('(\S+@\S+)')
  return df

df=get_extractions(df)
df.head()

              tweet_id  ...          email_address
0  1361644136101724161  ...       [b'@thejbird904]
1  1361644113075052553  ...  [Education.@CMU_TCD.]
2  1361644081345142790  ...          [b"@FENNERGY]
3  1361644049598451714  ...                     []
4  1361644041847386116  ...                     []

[5 rows x 12 columns]

# 4. Download the dataframe for further exploration/ text mining

In [12]:
# Export the dataframe in csv format 
df.to_csv("Preprocessed_tweetdf.csv",index=None)
files.download("Preprocessed_tweetdf.csv")